<h1>Tooltip 文字提示</h1>
简单的文字提示气泡框。

<div class="demo-type">
	<h2>何时使用#</h2>
      <p>鼠标移入则显示提示，移出消失，气泡浮层不承载复杂文本和操作。<br>可用来代替系统默认的 title 提示，提供一个按钮/文字/操作的文案解释。</p>
      <h2>代码演示#</h2>

	<div class="demo">
		<div class="demo-example">
                  {{io-tooltip tip="提示文字" type="top"  title="鼠标移上来就会出现提示"}}
		</div>
		<div class="demo-code">
                  <div class="highlight">
                        <pre><code class="language-html" data-lang="html">\{{io-tooltip tip="提示文字" type="top"  title="鼠标移上来就会出现提示"}}</code></pre>
                  </div>
            </div>
	</div>
      
</div>

