<h1>Upload 上传组件</h1>


<section class="demo-type">
	<h2>基本用法</h2>
	<div class="demo">
		<div class="demo-example">
			{{#io-upload
				action="/srv/app/ext/import/9e62f0a5-f69c-41aa-9b65-2420a7345f2b/dpUnit"
				name="importFile"
				onChange="onChange"}}
				{{#io-button type="ghost"}} 开始上传 {{/io-button}}
			{{/io-upload}}

		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html" data-lang="html">

// template
\{{#io-upload
	action="/srv/app/ext/import/9e62f0a5-f69c-41aa-9b65-2420a7345f2b/dpUnit"
	name="importFile"
	onChange="onChange"}}
	\{{#io-button type="ghost"}} 开始上传 \{{/io-button}}
\{{/io-upload}}

// controller onChange action
onChange(ev) {
    if (ev.file.status !== 'uploading') {
        console.log(`${ev.file.name} 正在上传.... ${ev.file.percent}`);
    }

    if (ev.file.status === 'done') {
        console.log(`${ev.file.name} 上传成功。`);
    }

    if (ev.file.status === 'error') {
        console.log(ev.file.response);
        console.log(`${ev.file.name} 上传失败。`);
    }
}
</code></pre>
			</div>
		</div>
	</div>
</section>


<section class="demo-type">

	{{#io-form}}
		{{io-input type="file" id="fileUpload" value=file}}
		<br>
		{{#io-button type="primary" id="submitBtn" submit="true" onClick="submitForm"}} submit {{/io-button}}
	{{/io-form}}


</section>


<section class="markdown api-container io-table">
<h2 id="API"><span>API</span></h2>
<h3 id="Upload"><span>io-upload属性</span></h3>
<table>
	<thead>
	<tr>
		<th>参数</th>
		<th>说明</th>
		<th>类型</th>
		<th>默认值</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>action</td>
			<td>上传方法所在路径</td>
			<td>String</td>
			<td>-</td>
		</tr>
		<tr>
			<td>name</td>
			<td>上传方法名</td>
			<td>function</td>
			<td>importFile</td>
		</tr>
		<tr>
			<td>onChange</td>
			<td>上传文件改变时触发方法</td>
			<td>function</td>
			<td>-</td>
		</tr>
	</tbody>
</table>

</section>
